<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h3 class="page-heading margin-bottom-sm"><span>&emsp;登録情報編集&emsp;</h3>
        <%= render "layouts/error", resource: @customer %>
    </div>
    <br>
    <%= form_with model: @customer, url: customers_path, local: true do |f| %>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <div class="row">
            <div class="field form-group">
              <%= f.label :last_name, "名前", class: "col-sm-2 control-label" %>
              <%= f.label :last_name, "(姓)", class: "col-sm-1 control-label "%>
              <div class="col-sm-3 form-group">
                <%= f.text_field :last_name, autofucos: true, autocomplete: "last_name" , class: "form-control" %>
              </div>
                <%= f.label :first_name, "(名)", class: "col-sm-1 control-label" %>
              <div class="col-sm-3 form-group">
                <%= f.text_field :first_name, autocomplete: "first_name", class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="field form-group">
              <%= f.label :last_name_kana, "フリガナ", class: "col-sm-2 control-label" %>
              <%= f.label :last_name_kana, "(セイ)", class: "col-sm-1 control-label"%>
              <div class="col-sm-3 form-group">
                <%= f.text_field :last_name_kana, autocomplete: "last_name_kana", class: "form-control" %>
              </div>
              <%= f.label :first_name_kana, "(メイ)", class: "col-sm-1 control-label"%>
              <div class="col-sm-3 form-group">
                <%= f.text_field :first_name_kana, autocomplete: "first_name_kana", class: "form-control" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="field form-group">
              <%= f.label :email, "メールアドレス", class: "col-sm-3 control-label" %>
              <div class="col-sm-3 form-group">
                <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
              </div>
              <div class="col-sm-6 form-group"></div>
            </div>
          </div>
  
          <div class="row">
            <div class="field form-group">
              <%= f.label :postcode, "郵便番号（ハイフンなし）", class: "col-sm-3 control-label" %>
              <div class="col-sm-3 form-group">
                <%= f.text_field :postcode, autocomplete: "address", class: "form-control" %>
              </div>
              <div class="col-sm-6 form-group"></div>
            </div>
          </div>
          
          <div class="row">
            <div class="field form-group">
              <%= f.label :address, "住所", class: "col-sm-3 control-label" %>
              <div class="col-sm-7 form-group">
                <%= f.text_field :address, autocomplete: "address", class: "form-control" %>
              </div>
              <div class="col-sm-2 form-group"></div>
            </div>
          </div>
        
          <div class="row">
            <div class="field form-group">
              <%= f.label :tel, "電話番号（ハイフンなし）", class: "col-sm-3 control-label" %>
              <div class="col-sm-3 form-group">
                  <%= f.text_field :tel, autocomplete: "tel", class: "form-control" %>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="actions col-sm-5">
              <%= f.submit "編集内容を保存する",class: 'btn btn-primary col-sm-5 pull-right'  %>
            </div>
            <div class="actions col-sm-5 col-sm-offset-2">
              <div class="text-center">
              	<%= link_to '退会する', quit_path, class: "btn btn-danger" %>
              </div>
            </div>
          </div>
        
        </div>
      </div>
    <% end %>
</div>
</div>
