<div class="col-sm-10 col-sm-offset-1">
  <h1>商品新規登録</h1>
</div>

<%= form_with model: Item.new, url: admin_items_path, local: true do |f| %>
  <div class="row">
    <div class="col-sm-4">
      <%= attachment_image_tag @item, :image, :fill, 200, 150, format: "jpg", fallback: "noimage.jpg", size: "200x150" %>
      <%= f.attachment_field :image %>
    </div>
    
    <div class="col-sm-8">
  
      <div class="row">
        <div class="col-sm-2 form-group">
          <%= f.label :name, "商品名", class: "control-label" %>
        </div>
        <div class="col-sm-4  form-group">
          <%= f.text_field :name, autofocus: true, class: "form-control" %>
        </div>
        <div class="col-sm-6"></div>
      </div>
      
      <div class="row">
        <div class="field form-group col-sm-2">
          <%= f.label :description, "商品説明", class: "control-label" %>
        </div>
        <div class="col-sm-4 form-group ">
          <%= f.text_area :description, class: "form-control" %>
        </div>
        <div class="col-sm-6"></div>
      </div>
      
      <div class="row">
        <div class="col-sm-2 form-group">
          <%= f.label :category, "ジャンル", class: "contorl-label" %>
        </div>
        <div class="col-sm-4 form-group">
          <%= f.select :category, Category.all.map {|c| [c.name] }, { include_blank: "--選択してください--" }, { class: "form-control" } %>
        </div>
        <div class="col-sm-6"></div>
      </div>
      
      <div class="row">
        <div class="form-group col-sm-2">
          <%= f.label :price, "税抜価格", class: "control-label" %>
        </div>
        <div class="col-sm-4 form-group">
          <div class="input-group">
            <%= f.text_field :price, class: "form-control" %>
            <span class="input-group-addon">円</span>
          </div>
        </div>
        <div class="col-sm-6"></div>
      </div>
      
      <div class="row">
        <div class="col-sm-2 form-group">
          <%= f.label :is_active, "販売ステータス", class: "control-label" %>
        </div>
        <div class="col-sm-4 form-group ">
          <%= f.select :is_active, [["販売中", true], ["販売中止", false]], { include_blank: "--選択して下さい--" }, { class: "form-control" } %>
        </div>
        <div class="col-sm-6"></div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-12 text-right">
      <%= f.submit "新規登録", class: "btn btn-primary btn-lg" %>
    </div>
  </div>
  <% end %>
</div>