<div class="row">
<div class="col-xs-offset-1 col-xs-12">

<h4>管理者ログイン</h4>
<br>
<!--この部分の変更が必要。書き方模索中-->
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="field form-group col-xs-9">
    <%= f.label :メールアドレス, class: "col-sm-3 control-label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-8 control-label" %>
  </div>

  <div class="field form-group col-xs-9">
    <%= f.label :パスワード, class: "col-sm-3 control-label" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "col-sm-8 control-label" %>
  </div>


  <div class="actions col-xs-9 pull-right">
    <%= f.submit "ログイン", class: "col-sm-3 btn btn-primary" %>
  </div>


<% end %>

