<div class="container">
  <div class="row">
    <div class="col-sm-12">


<div class="category-container">
 <div class="col-sm-2">
  <%= render "public/items/category" %>
 </div>
</div>


<div class="col-sm-10">
  <table class="table table-striped">


<div class="top-text">
     <p class="well col-sm-5">
     ようこそ、NaganoCakeへ！<br>
     このサイトは、ケーキ販売のECサイトになります。<br>
     会員でない方も商品の閲覧はできますが、<br>
     購入には会員登録が必要になります。<br>
     </p>
</div>


<div class="pick-up-items">
  <table>
<h3>オススメ商品</h3>
<% @items.first(4). each do |item| %>

    <th>
<%= link_to item_path(item.id) do %>
<p><%= attachment_image_tag(item, :image, size: "180x130", fallback: "/assets/images/noimage.jpg") %></p>
<p><%= item.name %></p>
<p>￥ <%= item.price %></p>
<% end %>
<% end %>
    </th>
  </table>
</div>


</div>


<div class="col-sm-12">
  <p><%= link_to 'もっと見る>', "/items", class: "btn-link pull-right" %></p>
</div>

  </table>
</div>



    </div>
  </div>
</div>