<div class="row">
  <div class="col-sm-offset-1 col-sm-10">

  <h3>管理者ログイン</h3>

<br>

<%= form_with model: @admin, url: session_path(resource), local: true do |f|%>
  <div class="field form-group col-sm-9">
    <%= f.label :email, "メールアドレス", class: "control-label col-sm-3" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-9 control-label" %>
  </div>

   <div class="field form-group col-sm-9">
     <div class="row">
       <div class="col-sm-8 col-sm-offset-2">
         <%= f.label :password, "パスワード", class: "control-label col-sm-3" %>
         <%= f.password_field :password, autocomplete: "current-password", class: "col-sm-9 control-label" %>
       </div>
     </div>
   </div>

   <div class="actions col-sm-9 pull-right">
    <br><%= f.submit "ログイン", class: "btn btn-primary btn-lg" %>
   </div>
<% end %>

  </div>
</div>
