<div class="col-md-6">
  <section class="category_new">
    <h3>ジャンル一覧・追加</h3>
    <%= render "layouts/error", resource: @category_new %>

    <br>
    
    <%= form_with model: @category_new, url: admin_categories_path, local: true do |f| %>
      <%= f.label :name, "ジャンル" %>
      <%= f.text_field :name, class: "form-inline" %>
      <%= f.radio_button :is_active, true, checked: true %>
      <%= f.label :is_active, "有効" %>
      <%= f.radio_button :is_active, false %>
      <%= f.label :is_active, "無効" %>
      <%= f.submit "追加", class: "btn btn-primary" %>
    <% end %>
  </section>
  
  <br>
  
  <div class="category-table">
    <table class="table">
      <thead style="background: gray;">
        <tr><th>ジャンル</th><th>状態</th><th></th></tr>
      </thead>
      <tbody>
        <tr>
          <% @categories.each do |category| %>
            <tr>
              <td><%= category.name %></td>
              <td><%= category.status %></td>
              <td><%= link_to "編集する", edit_admin_category_path(category), class: "btn btn-primary" %></td>
            </tr>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>