<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <div class="category-container margin-top-sm">
        <%= render "public/items/category" %>
      </div>
    </div>

    <div class="col-sm-10">
    <% if notice.present? %>
      <div class="notice"><%= notice %></div>
        <% end %>
    <% if alert.present? %>
      <div class="alert"><%= alert %></div>
    <% end %>
      <h2><%= @title %>一覧<small>(全<%= @items_all.count %>件)</small></h2>
      <div class="row">
        <% @items.each do |item| %>
          <div class="col-sm-3">
            <%= link_to item_path(item.id) do %>
              <p><%= attachment_image_tag(item, :image, size: "180x130", fallback: "/assets/images/noimage.jpg") %></p>
              <p><%= item.name %></p>
              <% if item.is_active == true %>
                <p>￥<%= item.price.to_s(:delimited) %></p>
              <% elsif item.is_active == false %>
                <p>売切れ</p>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="text-center">
        <%= paginate @items %>
      </div>
    </div>
  </div>
</div>
