<header>
  <nav class="navbar navbar-default" style="background-color: #ffffff; margin-bottom: 0;">
    <div class="navbar-header col-sm-2">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-header">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h1><%= link_to "LOGO", root_path, class: "navbar-left navbar-brand font-size-30 box1 margin-bottom-xs" %></h1>
    </div>
    <div class="collapse navbar-collapse" id="navbar-header">
      <ul class="nav navbar-nav navbar-right">
        <% if customer_signed_in? %>
          <li class="welcome-message">ようこそ、<%= current_customer.full_name %>さん！</li>
          <li><%= link_to "マイページ", customers_path(current_customer), class:'btn btn-default margin-top-xs margin-right-xs' %></li>
          <li><%= link_to "商品一覧", items_path, class:'btn btn-default margin-top-xs margin-right-xs' %></li>
          <li><%= link_to "カート", cart_items_path, class:'btn btn-default margin-top-xs margin-right-xs' %></li>
          <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class:'btn btn-default margin-top-xs margin-right-xs' %></li>
        <% elsif admin_signed_in? %>
          <li><%= link_to "商品一覧", admin_items_path, class:'btn btn-default margin-top-xs margin-right-xs' %></li>
          <li><%= link_to "会員一覧", admin_customers_path, class:'btn btn-default margin-top-xs margin-right-xs' %></li>
          <li><%= link_to "注文履歴一覧", admin_orders_path, class:'btn btn-default margin-top-xs margin-right-xs' %></li>
          <li><%= link_to "ジャンル一覧", new_admin_category_path, class:'btn btn-default margin-top-xs margin-right-xs' %></li>
          <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:'btn btn-default margin-top-xs margin-right-xs' %></li>
          <br>
          <li class="pull-right">
            <%= form_with scope: :search, url: admin_search_path, class: "form-inline", local: true do |f| %>
              <%= f.text_field :keyword, placeholder: "Search", class: "form-control", style: "margin-top: 8px; padding: 5px 15px; line-height: 20px;" %>
              <%= f.submit "SEACH!", class: "btn", style: "padding: 10px 15px; line-height 20px; margin-right: 5px; margin-top: 5px;" %>
            <% end %>
          </li>
        <% else %>
          <li><%= link_to "About", about_path, class:'btn btn-default margin-top-xs margin-right-xs' %></li>
          <li><%= link_to "商品一覧", items_path, class:'btn btn-default margin-top-xs margin-right-xs' %></li>
          <li><%= link_to "新規登録", new_customer_registration_path, class:'btn btn-default margin-top-xs margin-right-xs' %></li>
          <li><%= link_to "ログイン", new_customer_session_path, class:'btn btn-default margin-top-xs margin-right-xs' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
